* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #eccbe2;
    color: #fdfae2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 5% auto;
    text-align: center;
    background-color: rgb(137, 0, 172);
    width: 100%;
    padding: 1rem;
}
#choices {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#replay {
    height: 120px;
    width: 175px;
    border: 16px double #fcf7c6;
    font-size: 1.4rem;
    color: #fdfae2;
    font-weight: bold;
    background-color: rgb(137, 0, 172);
    cursor: pointer;
}
#replay:hover {
    transform: scale(1.1);
}

.choice:hover {
    cursor: pointer;
}
img {
    width: 140px;
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
}
img:hover {
    transform: scale(1.1);
}
#scores, .text {
    width: 70%;
    background-color: rgb(137, 0, 172);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3em;
    font-weight: 600;
    flex-wrap: wrap;
}
#para1 {
    display: none;
}



